# FEATURE ENCODING
#### LABEL ENCODING
#### ORDINAL ENCODING
#### ONE-HOT ENCODING
#### BINARY ENCODING
#### MANUAL ENCODING

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder

In [2]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

#### LABEL ENCODING

In [3]:
le = LabelEncoder()
df['encoded_time'] = le.fit_transform(df['time'])
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [4]:
print("After encoding")
#Dinner=0 ,lunch=1
df['encoded_time'].value_counts()

After encoding

encoded_time
0    176
1     68
Name: count, dtype: int64

#### ORDINAL ENCODING

In [5]:
oe = OrdinalEncoder(categories=[['Thur', 'Fri', 'Sat', 'Sun']])
df['encoded_day'] = oe.fit_transform(df[['day']])
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [6]:
print("After encoding")
df['encoded_day'].value_counts()

After encoding

encoded_day
2.0    87
3.0    76
0.0    62
1.0    19
Name: count, dtype: int64

#### ONE-HOT ENCODING

In [7]:
#no single column encoding in one-hot
# one hot encoding
ohe = OneHotEncoder(sparse_output=False)
encoded_sex = ohe.fit_transform(df[['sex']])

sex_ohe_df = pd.DataFrame(
    encoded_sex,
    columns=ohe.get_feature_names_out(['sex'])
)

df = pd.concat([df.reset_index(drop=True), sex_ohe_df.reset_index(drop=True)], axis=1)
df.head()

,total_bill,tip,sex,smoker,day,time,size,encoded_time,encoded_day,sex_Female,sex_Male
0,16.99,1.01,Female,No,Sun,Dinner,2,0,3.0,1.0,0.0
1,10.34,1.66,Male,No,Sun,Dinner,3,0,3.0,0.0,1.0
2,21.01,3.50,Male,No,Sun,Dinner,3,0,3.0,0.0,1.0
3,23.68,3.31,Male,No,Sun,Dinner,2,0,3.0,0.0,1.0
4,24.59,3.61,Female,No,Sun,Dinner,4,0,3.0,1.0,0.0

#### BINARY ENCODING

In [8]:
#work with python version 3.10
#df['day'].value_counts()
#rint("After encoding")
#binary_encoder = BinaryEncoder()
#df_binary = binary_encoder.fit_transform(df['time'])
#df['df_binary'].value_counts()

#### MANUAL ENCODING

In [9]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [10]:
df['day_encoded'] = df['day'].map({'Thur': 0, 'Fri': 1, 'Sat': 2, 'Sun': 3})
print("After encoding")
df['day_encoded'].value_counts()

After encoding

day_encoded
2    87
3    76
0    62
1    19
Name: count, dtype: int64